@model TamaWebApp.TamaService.Tamagotchi

@using (Html.BeginForm("Add", "Tamagotchi"))
{
    @Html.AntiForgeryToken()

    <div class="newTama">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="text-center">
            Heb je nog geen <strong>Tamagotchi</strong>? Vul een naam in en maak er een aan!
            <br />
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @maxlength="20" } })
            <button type="submit" value="Add" class="button-default">Toevoegen</button>
            <br />
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
}
<script>
    function CheckName(seconds) {
        var elem = document.getElementById
        var counter = seconds;
        var newElement = document.createElement("p");
        newElement.innerHTML = "";
        var id;

        timerDone.parentNode.replaceChild(newElement, timerDone);

        id = setInterval(function () {
            counter--;
            if (counter < 0) {
                newElement.parentNode.replaceChild(timerDone, newElement);
                clearInterval(id);
            } else {
                newElement.innerHTML = "Volgende actie is beschikbaar in " + counter.toString() + " seconden.";
            }
        }, 1000);
    }
</script>