@model TamaWebApp.TamaService.Tamagotchi

<div class="row">
    <div class="box">
        <div class="text-center">
            <div class="intro-text">
                @Html.DisplayFor(model => model.Name)
            </div>
            <img id="TamaImg" src="~/Content/img/sprites/@Model.ImgId/Hungry.png">
        </div>
        <br />
        <div class="text-center">

            <strong>@Html.DisplayFor(model => model.Name)</strong> is: <strong  id="statusText"></strong>!
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        GetState(@Model.Id);
    });

    function GetState(inputid) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetStatus", "Tamagotchi")',
            data: { id: inputid },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (msg)
            {
                $("#TamaImg").attr("src", "/Content/img/sprites/@Model.ImgId/" + msg.status + ".png");
                $("#statusText").text(msg.status);
            },
            error: function (e) {
                alert(e.status)
            }
        });
    };
</script>